target/**/*
.settings/
.project
.classpath
/target
spark/project/project
spark/project/target
spark/target
spark/lib_managed
spark/src_managed
spark/project/boot
spark/tmp
project/
.history
spark/dist
.DS_Store
.cache
spark/bin
.class
.ivy2

